.tinhot {
    background-color: #ccc;
}
.tinhot a{
    color: #2979ff;
    /* color:#a65c00; */
    text-decoration: none;
}
.guibaoloi{
    color: #2979ff;
    text-decoration: none;
}
.tinhot a:hover{
    text-decoration: underline;
    filter:brightness(1.7)
}
@keyframes aanh1{
    0%,50%{opacity: 1;}
    53%,100%{opacity: 0;}
}
@keyframes aanh2{
    0%,50%{opacity: 0;}
    53%,100%{opacity: 1;}
}
.tinhotbox:hover {
    transform:translateY(-7px);
    box-shadow: 0 0 10px #00e5ff;
    filter:brightness(1.05);
    background-color: #ddd;
    color:black;
    border-radius: 12px;
    transition: 0.4s;
}
.thaoluan a{
    color: #2979ff;
    text-decoration: none;
}
.thaoluan a:hover{
    text-decoration: underline;
    filter:brightness(1.6)
}
.thaoluan {
    background-color:#f2f2f2;
    padding: 5px 12px;
    margin: 5px 0;
    border: 3px solid #444;
    border-radius: 15px;
    font-size: 10pt;
}
.thaoluan:hover{
    box-shadow: 0 0 10px #1976d2;
    transform: translateX(-5px);
    border-color:#1976d2;
    transition: 0.4s;
}
textarea::placeholder{
    color:black
}
.thanhtimkiem{
    display:flex;
    justify-content: flex-start;

}
.thanhtimkiem input{
    width: 50%;
    height:20px;
    outline:none;
    border:none;
    background-color: #f5f5f5;
    border-color: black;
    font-size:17px;
}
.thanhtimkiem input::placeholder{
    color:#222;
    font-size:14px !important;
}
@media (max-width: 600px){
    button {
        padding:10px !important;
        font-size:10px;
    }
    .thanhtimkiem input{
        width: 100%;
        height:14px;
        font-size:10px !important;
    }
    .thanhtimkiem input::placeholder{
        font-size: 10px !important;
    }
}